/* ---------------------------------------------------------------------- */

/* --------------------------menu panel stylings------------------------- */


#panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    max-width: 450px;
    height: 100vh;
    color: #fff;
    background-color: rgb(14 22 71 / 1);
    transform: translateX(-100%);
    transition: transform 1s cubic-bezier(.4, 0, .2, 1);
    padding: 0;
    z-index: 5;
}

#panel[data-state="open"] {
    transform: translateX(0);
}

#menu-panel {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 450px;
    height: calc(100% - 10rem);
    overflow-y: auto;
}

/* ---------------------------------------------------------------------- */

@media (min-width: 768px) {
    #panel {
        max-width: 450px;
    }
}

@media (min-width: 640px) {
    #panel {
        max-width: 24rem;
        padding-top: 5rem;
    }

}