.border1 {
    width: 0;
    overflow: hidden;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    border-left: 10px solid rgb(215, 247, 119);
    border-right: 10px solid rgb(215, 247, 119);
    margin-bottom: 70px;
    transition: width 1s ease-in-out;
    display: inline-block;
    white-space: nowrap;
    box-sizing: border-box;
}

.border1.open {
    width: 100%;
}

.welcome-container {
    display: inline-block;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

h1 {
    margin-bottom: 0;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.15rem;
    margin: 0;
}

.block {
    display: block;
}

/* @media (min-width: 640px) {
    .welcome-container {
        padding-left: 100px;
        padding-right: 100px;
    }
} */

@media (min-width: 768px) {
    h1 {
        font-size: 3.5rem;
        line-height: 4.05rem;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 640px) {
   .border1.open {
    width: 65%
   }
}